---
import Container from "@layout/Container.astro"

const { blok } = Astro.props
---

<Container title="About me">
  <div class="flex flex-1 flex-col items-center justify-center">
    <div class="flex flex-col gap-4">
      <p class="default-text paragraph">
        {blok.paragraph_1}
      </p>

      <p class="default-text paragraph">
        {blok.paragraph_2}
      </p>
      <p class="default-text paragraph">
        {blok.paragraph_3}
      </p>
    </div>

    <figure class="mt-10">
      <picture>
        <img
          alt={blok.about_image.alt}
          class="aspect-square w-full max-w-[300px] rounded-2xl"
          src={blok.about_image.filename}
        />
      </picture>
      <figcaption
        class="default-text mt-1 text-center text-xs font-thin italic md:text-sm"
      >
        {blok.image_caption}
      </figcaption>
    </figure>
  </div>
</Container>

<style>
  .paragraph {
    @apply max-w-xl text-base font-medium md:text-lg;
  }
</style>
